*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'relative', bold;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
}

h1 {
  font-size: 28px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
}

.container {
  margin: 20px 0;
  position: relative;
  width: 100%;
  max-width: 1500px;
  border-radius: 1rem;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  max-height: 1500px;
  aspect-ratio: 16/9;
}

.image-before,
.image-after {
  position: absolute;
  inset: 0;
  width: 100%;
}

.image-after {
  clip-path: inset(0 var(--position, 50%) 0 0);
}

.slider {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.slider-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: var(--position, 50%);
  width: 2px;
  background-color: white;
  transform: translateX(-50%);
}

.slider-button {
  position: absolute;
  top: 50%;
  left: var(--position, 50%);
  transform: translate(-50%, -50%);
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
